[Unit]
Description=AYTA
After=network.target

[Service]

Type=simple
Restart=on-failure
RestartSec=10
User=ubuntu
WorkingDirectory=/home/ubuntu/AytaFirstLayerv2
ExecStart=/usr/bin/flask_server.sh

[Install]
WantedBy=multi-user.target
